@model IEnumerable<FitnessApp.Model.Exercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaloriesLost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complexity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExerciseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaloriesLost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExerciseId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ExerciseId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExerciseId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
